<div class="title"><h1>Happy Heart Kids</h1></div>


<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Happy Heart Kid</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">About Us</a></li>
    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Empathy Kit</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Demos<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <
          <li><a href="#">Provide Feedback</a></li>
          
          <li class="divider"></li>
    
        </ul>
      </li>
    </ul>
  </div>
</div>


<div class="jumbotron">
<div class="center"><%= image_tag 'main.jpg' %></div>
</div>